.taskList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 50rem) {
  .taskList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 31.25rem) {
  .taskList {
    grid-template-columns: 1fr;
  }
}
